<!-- Footer-->
<!--
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; World Digital Piano Online Mall</p>
        <a class="m-0 text-left text-white" href="/about_company/">회사 안내 - About our company</a>
        <p class="m-0 text-right text-white">고객센터 안내 : 02-777-8888</p>
    </div>
</footer>
-->

<!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; World Digital Piano Online Mall</div></div>
                    <div class="col-auto">
                        <a class="text-decoration-none text-light small">회사 주소 : 서울시 송파구 잠실동</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="text-decoration-none text-light small">고객센터 안내 : 02-783-9984</a>
                    </div>
                </div>
            </div>
        </footer>