{% extends 'shopping/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ piano.title }} - detail view
{% endblock %}

{% block main_area %}

<!-- 피아노 상세 페이지 -->

<!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!--Category 뱃지-->
            <span class="badge badge-secondary float-right">{{ piano.category }}</span>
            <!--<a class="badge bg-secondary text-decoration-none link-light float-right" href="#!">Category</a>-->
            <!-- 피아노 이름, 별점, 가격 -->
            <h2 class="fw-bolder mb-1">{{ piano.title }}</h2>
            <hr>
            <!-- Edit Post 버튼 -->
            {% if user.is_authenticated and user == piano.author %}
                <a href="/shopping/update_post/{{ piano.pk }}/" class="btn btn-info btn-sm float-right" role="button">
                    <i class="fas fa-pen"></i>&nbsp; Edit Post
                </a>
            {% endif %}
            <h5 class="text-muted my-3"><i class="fas fa-star"></i> {{ piano.star_rate }} / 5</h5>
            <h5 class="text-muted fst-italic my-3">최저가 {{ piano.price }}원</h5>
            <hr>
        </header>

        <!-- Piano Image -->
        <figure class="mb-4">
            <div style="text-align:center">
                {% if piano.head_image %}
                    <img class="img-fluid rounded" src="{{ piano.head_image.url }}" alt="{{ piano.title }} head_image" />
                {% else %} <!--없으면 임의의 이미지 가져오기-->
                    <img src="https://picsum.photos/seed/{{ p.id }}/500/500" alt="random image">
                {% endif %}
            </div>
        </figure>

        <!-- 간단한 설명 -->
        <section class="mb-5">
            <p class="fs-5 mb-4">{{ piano.get_content_markdown | safe }}</p>
        </section>

        <!-- 제품 등록년월 + 작성자 -->
        <div class="text-muted fst-italic mb-2">
            Release date : {{ piano.release_date | date:"20y-m"}} &nbsp;|&nbsp; Posted by : {{ piano.author | upper }}
        </div>

        <!-- 제조사 -->

    </article>

            <!-- Comments section-->
                    <div id="comment-area">
                        <div class="card my-4 bg-light">
                            <h5 class="card-header">구매 후기를 들려주세요!</h5>
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if user.is_authenticated %}  <!-- 로그인: 댓글 작성 폼 show -->
                                    <form class="mb-4" id="comment-form" method="POST" action="{{ piano.get_absolute_url }}/new_comment/">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ comment_form | crispy }}
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                {% else %} <!-- 로그아웃: 폼 X, 메시지 show -->
                                    <a role="button" class="btn btn-outline-dark btn-block btn-sm mb-5" href="#"
                                        data-toggle="modal" data-target="#loginModal">로그인 또는 회원가입하고 구매 후기를 남겨주세요!</a>
                                {% endif %}

                                <!-- 작성한 댓글들 -->
                                {% if piano.comment_set.exists %}
                                    {% for comment in piano.comment_set.iterator %}
                                    <!-- Single comment-->
                                    <div class="d-flex media mb-4" id="comment-{{ comment.pk }}">
                                        <div class="flex-shrink-0">  <!--아바타 이미지-->
                                            <img class="d-flex mr-3 rounded-circle" src="{{ comment.get_avatar_url }}" alt="{{ comment.author }}" width="60px" />
                                        </div>
                                        <div class="media-body ms-3">
                                            <div class="fw-bold">{{ comment.author.username }}&nbsp;&nbsp;&nbsp;
                                                <small class="text-muted">{{ comment.created_at }}</small></div>
                                            <p>{{ comment.content | linebreaks }}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

{% endblock %}