{% extends 'shopping/base.html' %}

{% block main_area %}

<!-- new post 작성 버튼 -->
    {% if user.is_authenticated %}
        {% if user.is_staff or user.is_superuser %}
            <a class="btn btn-info btn-sm float-right" href="/shopping/create_post/" role="button">
                <i class="fas fa-pen"></i>&nbsp; New Post
            </a>
        {% endif %}
    {% endif %}

<!-- 피아노 목록 페이지 대표 이미지 및 글 -->
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  {% if category %}
    <div class="px-0">
      <h2 class="display-5 font-italic font-weight-bold">{{ category }} Pianos for you!</h2>
      <h4 class="lead my-3 text-white font-weight-bold">Here are {{ category_piano_count }} pianos you find</h4>
    </div>
    {% elif search_info %}
    <div class="px-0">
      <h2 class="display-5 font-italic font-weight-bold">{{ search_info }} Pianos for you!</h2>
      <h4 class="lead my-3 text-white font-weight-bold">Here are {{ search_count }} pianos you find</h4>
    </div>
  {% else %}
    <div class="px-0">
      <h2 class="display-5 font-italic font-weight-bold">GREAT Digital Pianos for you!</h2>
      <p class="lead my-3 text-white font-weight-bold">디자인, 성능, 가격을 모두 다 갖춘 디지털 피아노!</p>
    </div>
  {% endif %}
</div>

<!-- 피아노 목록 카드 -->
{% for p in piano_list %}
  <div class="col mb-2">
    <div class="row">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col d-flex p-4 flex-column position-static">
          <!-- 카테고리 -->
          <strong class="d-inline-block mb-2 text-primary">{{ p.category }}</strong>
          <h4 class="mb-0 font-weight-bold">{{ p.title }}</h4>
          <div class="mb-1 mt-4 text-muted">{{ p.price }} &nbsp; | &nbsp; <i class="fas fa-star"></i> {{ p.star_rate }}</div>
          <p class="card-text mb-auto mt-4">{{ p.get_content_markdown | truncatewords_html:35 | safe }}</p>
          <br/>
          <div class="small text-muted">release date : {{ p.release_date | date:"20y-m"}}
              &nbsp;&nbsp;|&nbsp;&nbsp; posted by : {{ p.author | upper }}</div>
          <br/>
          <a href="{{ p.get_absolute_url }}" class="btn btn-outline-primary">View Detail</a>
        </div>

        <div class="col-auto d-none d-lg-block">
          <!-- 피아노 이미지 -->
          {% if p.head_image %}
            <img src="{{ p.head_image.url }}" alt="{{ p }} head image" >
          {% else %} <!--없으면 임의의 이미지 가져오기-->
            <img src="https://picsum.photos/seed/{{ p.id }}/330/330" alt="random image">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<br/><br/>

<!-- Pagination, 페이지 번호-->
        {% if is_paginated %}
        <ul class="pagination justify-content-center my-4">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">&larr; Newer</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Newer</a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Older &rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Older &rarr;</a>
                </li>
            {% endif %}
        </ul>
        {% endif %}

{% endblock %}