<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Digital Piano Online Mall</title>
    <link href="{% static 'shopping/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media= "screen">
    <link href="{% static 'myhome/css/landing.css' %}" rel="stylesheet" type="text/css" media= "screen">
    <script src="https://kit.fontawesome.com/d697b797d8.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'shopping/navbar.html' %}

    <!-- 대문 소개글 -->
    <section>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 text-light">
                    <h1 class="mt-5">PIANY Digital Piano Mall</h1>
                    <p>섬세한 품질 평가를 통해 엄선한 최고의 디지털 피아노를 만나보세요.<br/>
                        행복한 음악 세상, 감동을 함께 만드는 피아니. <br/>
                        고객의 신뢰만을 가장 큰 목표로, <br/>피아노를 가장 잘 아는 사람들이 이끌어갑니다.
                    </p>
                </div>
                <div class="col-lg-5 mt-5">
                    <h4 class="text-light">최근에 올라온 피아노</h4>
                    {% for piano in recent_pianos %}
                    <div class="card mt-1">
                        <div class="card-body"> <!--피아노 상품명, 이미지, 가격 보여주기-->
                            <h6><a href="{{ piano.get_absolute_url }}" class="text-decoration-none text-light">{{ piano.title }}</a></h6>
                            {% if piano.head_image %}
                                <img class="mr-1 rounded-circle" width="65px" src="{{ piano.head_image.url }}" alt="{{ piano.title }} head_image" />
                            {% else %} <!--없으면 임의의 이미지 가져오기-->
                                <img class="mr-1 rounded-circle" src="https://picsum.photos/seed/{{ piano.id }}/65/65" alt="random image">
                            {% endif %}
                            <span class="badge badge-pill badge-dark float-right">
                                최저가 {{ piano.price }}원
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    <div class="fixed-bottom">
        {% include 'shopping/footer.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>